.show-bg {
    padding: 70px 10px 10px 10px;
    background-color: #efe9e1;
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.show-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    height: 100%;

}
.show-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.show-images img{
 width: 90%;
 height: 90%;
 border-radius: 30px;
}
.map-container{
    height: 100%;
    border-radius: 20px;

}

.map {
    border-radius: 30px;
}
.show-infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
}

.show-leftside {
    padding: 0 20px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    width: 100%;
    height: 100% !important;
	border-radius: 20px !important;
	overflow: hidden;
    gap: 30px;
}

.show-rightside {
    padding: 0 20px;
    width: 100%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.owner{
    text-align: right;
}

.show-address{
    color:#C37F19;
}

.show-reviews{
    display: flex;
    gap: 10px;

}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
