.info-window-link {
    color: black;
    background-color: white;
    padding: 5px 20px 0px 5px;
    border-radius: 10px;
    text-decoration: none !important;

    h3 {
        font-size: 15px;
        text-decoration: none;
    }

}
