.createSpotForm {
    background-color: #e0f2c4;
    height: calc(100vh - 67px);
    overflow-y: scroll;
    padding-bottom: 50px;
    color: #0c1059;

    .createSpotContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        .createSpotTitle {
            margin-top: 20px;
            margin-bottom: 20px;

            .titleBar {
                height: 30px;
                width: 500px;
            }
        }

        .createPageLabel {
            font-size: 16px;


            .inputTitle {
                font-size: 18px;
                font-weight: 600;
            }

            .titleInput {
                height: 40px;
                width: 500px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
            // &:placeholder {
            //     color: rgb(200, 200, 200);
            //     opacity: 5;
            // }
            }

            .addressInput {
                height: 40px;
                width: 500px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
            }

            .createSpotCity {
                height: 40px;
                width: 250px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
            }

            .createSpotZip {
                height: 40px;
                width: 100px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
            }


            .createSpotRate {
                width: 75px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
            }

            .carType {
                font-weight: 600;
            }

            .carTypeDrop {
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
                margin-top: 5px;
            }

            .statesList {
                display: flex;
                font-size: 18px;
                font-weight: 600;

                select {
                    // background-color: red;
                    height: 40px;
                    overflow: auto;
                    max-height: 100px;
                    margin-top: 5px;


                    border: 1px rgb(202, 202, 202) solid;
                    border-radius: 5px;

                    // .dropdown-menu {
                    //     max-height: 100px;
                    //     overflow-y: auto;
                    // }
                }
            }

        }

        .calendar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            margin-top: 35px;

            .calendarAvail {
                font-size: 18px;
                font-weight: 600;
            }

            .startTime {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-top: 10px;
                font-weight: 500;
            }

            .displayDate {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }

        }

        .inputDesc {
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 150px;
            font-size: 18px;
            font-weight: 600;

            textarea {
                height: 100px;
                width: 500px;
                margin-top: 5px;
                border: 1px rgb(202, 202, 202) solid;
                border-radius: 5px;
                &:focus {
                    outline-color: #f89419;
                }
            }
        }
    }

    .nextPage {
        height: 40px;
        width: 150px;
        border-radius: 5px;
        margin-top: 40px;
        background-color: #f8941983;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 9px;
        font-weight: 600;
    }

    .image-preview {
        display: flex;
        gap: 20px;
    }

    .secondPageButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;

        .prevPage {
            height: 40px;
            width: 150px;
            border-radius: 5px;
            margin-right: 20px;
            background-color: #f8941983;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 9px;
            font-weight: 600;
        }

        .createButton {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 40px;
            width: 150px;
            border-radius: 5px;
            padding-top: 6px;
            background-color: #f8941983;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 9px;
            font-weight: 600;
        }

        .createButton:hover {
            background-color: #f89419;
        }
    }

    .cityState {
        display: flex;
        flex-direction: row;
        gap: 47px;
    }

    .rateType {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 40px
    }

    input {
        // color: #0c1059;
        &:focus {
            outline-color: #f89419;
        }
        // background-color: red;
    }

    // .prevSubmitButton {
    //     display: flex;
    //     // justify-content: center;
    //     // align-content: center;
    // }
}


.errors {
    color: red;
}

