form {
    // TODO: Delete background-color once merged. 
    // Should start with white/blank background
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;

    
    .createSpotTitle {
        display: flex;
        justify-content: center;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;

        select {
            height: 30px;
            width: 75px;
        }

        input {
            height: 30px;
            width: 600px;
        }
    }

    button {
        height: 30px;
        width: 150px;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-content: center;
        // align-items: center;

    }
}