.spots-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reservation-card {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    width: 60vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;

    .left-side-res{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 50px;

        h1 {
            font-weight: 700;
        }

    }

    .right-side-res {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .reservation-dates, .reservation-rates {
            h1 {
                font-weight: 700;
            }

            p {
                span {
                    font-weight: 500;
                }
            }
        }

        img {
            width: 150px;
            height: 150px;
        }
    }
    
    .edit-wrapper {
        display: flex;
        align-items: flex-end;
        height: 20vh;
        margin-right: 20px;

        svg {
            path {

                &:hover {
                    fill: #f89419;
                }
            }
        }
    }

    .delete-wrapper {
        display: flex;
        align-items: flex-end;
        height: 20vh;

        svg {
            path {

                &:hover {
                    fill: red;
                }
            }
        }

    }


}
