.custom-nav-buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 490px;
    box-sizing: none !important;
}

.btnn {
    background-color: rgb(255 255 255);
    border: 1px solid rgb(167 166 171);
    color: rgb(42 42 50);
    border-radius: 24%;

    .btn__icon {
        font-size: 25px;
    }

    &:hover {
        background-color: rgb(241 241 241);
    }
}


.swiper-button-disabled {
    opacity: 0.5;
}
