.carousel_wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;

    .swiper-wrapper {
        display: flex;
        align-items: center;
        height: 95px;
        padding-top: 4px;
    }

    .carousel-container__swiper {
        width: 450px;
        padding: 10px 0px 10px 30px;
    }
    .date-box-item-wrapper {
        display: flex;
        gap: 5px;
    }

    .selected-date {
        background-color: #A9BF99;
    }

    .in-date {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #A9BF99;
    }
    .star-end-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}



