.logo {
    height: 50px;
    width: 200px;
}

.navbar-nav{
    display: flex;
    width: 100%;

}

.box-nav {
    display: flex;
    flex-direction: row;
}

.left-nav {
    width: 50%;
    justify-content: flex-end;
    gap: 150px;
}

.right-nav {
    justify-content: flex-end;
    width: 50%;
    gap: 40px;
}

.navbar-brand {
    color: #e0f2c4 !important;
    font-weight: 500 !important;
    font-size: 20px !important;
}

.logout-btn {
    background-color: #e0f2c4 !important;
    color: #0c1059;
}

.on-page > span {
    color: #F28F16;
}