.navbar {
    height: 6vh;
}

.indexPage {
    background-color: #efe9e1;
}

.createSpotPage {
    background-color: #e0f2c4;
}

.profilePage {
    background-color: beige;
}

.logo {
    height: 50px;
    width: 200px;
}

.navbar-nav{
    display: flex;
    width: 100%;
}

.box-nav {
    display: flex;
    flex-direction: row;
}

.left-nav {
    width: 50%;
    justify-content: flex-end;
    gap: 150px;
    align-items: center;
}

.right-nav {
    justify-content: flex-end;
    width: 50%;
    gap: 40px;
    align-items: center;
}

.navbar-brand {
    font-weight: 500 !important;
    font-size: 20px !important;
    color: #0c1059 !important;
}

.navbar-brand > img {
    height: 40px;
}

.logout-btn {
    background-color: #e0f2c4 !important;
    font-weight: 500 !important;
    color: #0c1059 !important;
}

.on-page > span {
    color: #F28F16;
}

.should-be-green > span {
    color: #e0f2c4;
}
